<div class="container">
	<form method="POST" action="/auth/login">
	<h3> Login </h3>
		
		<div class="form-group">
			<label for="title">Email</label>
			<input type="email" name="email" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="title">Password</label>
			<input type="password" name="password" class="form-control col-md-6">
		</div>

		<input type="hidden" name="role" value='2'>
		 <button type="submit" class="btn btn-primary btn-sm">Login</button>
		 <a href="/auth/register" class="btn btn-info btn-sm">Already have account ? Register</a>
	</form>
</div>