<div class="container">
	<%- include ../partials/flash_messages %>
	<form method="POST" action="/auth/register">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" class="form-control col-md-6">
		</div>
		
		<div class="form-group">
			<label for="title">Email</label>
			<input type="email" name="email" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="title">Password</label>
			<input type="password" name="password" class="form-control col-md-6">
		</div>

		<input type="hidden" name="role" value='2'>
		 <button type="submit" class="btn btn-primary btn-sm">Register</button>
		 <a href="/auth/login" class="btn btn-info btn-sm">Already have account ? Login</a>
	</form>
</div>