<div class="container">	
<%- include ../partials/flash_messages %>
<form action="/categories/update/<%- data.id %>" method="post">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" value="<%- data.name %>" class="form-control col-md-6">
		</div>
		 <button type="submit" class="btn btn-primary btn-sm">Update</button>
		 <a href="/categories" class="btn btn-info btn-sm">Back</a>
	</form>
</div>