<div class="container">
	<%- include ../partials/flash_messages %>
	<form method="POST" action="/employers">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="title">Phone</label>
			<input type="text" name="phone" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="title">Email</label>
			<input type="email" name="email" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="title">Password</label>
			<input type="password" name="password" class="form-control col-md-6">
		</div>

		<div class="form-group">
			<label for="category">Status</label>
			<select name="status" class="form-control col-md-6">
				<option value="">Select Status</option>
				<option value="1">Enable</option>
				<option value="0">Disable</option>
			</select>
		</div>
		<input type="hidden" name="role" value='2'>
		 <button type="submit" class="btn btn-primary btn-sm">Add</button>
		 <a href="/employers" class="btn btn-info btn-sm">Back</a>
	</form>
</div>