<% if(typeof warnings == "object") { %>
	<% for(var i=0; i<warnings.length;i++) {%>
		<p class="alert alert-warning"><%= warnings[i] %></p>
	<% } %>
<% } %>

<% if(typeof infos == "object") { %>
	<% for(var i=0; i<infos.length;i++) {%>
		<p class="alert alert-info"><%= infos[i] %></p>
	<% } %>
<% } %>

<% if(typeof errors == "object") { %>
	<% for(var i=0; i<errors.length;i++) {%>
		<p class="alert alert-warning"><%= errors[i] %></p>
	<% } %>
<% } %>
<% if(typeof error == "object") { %>
	<% for(var i=0; i<error.length;i++) {%>
		<p class="alert alert-warning"><%= error[i] %></p>
	<% } %>
<% } %>

