<div class="container">
	<%- include ../partials/flash_messages %>
	<form method="POST" action="/jobs">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" name="title" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea name="description" class="form-control col-md-6"></textarea>
		</div>
		<div class="form-group">
			<label for="salary">Salary</label>
			<input type="text" name="salary" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="category">Category</label>
			<select name="category_id" class="form-control col-md-6">
				<option value="">Select Category</option>
				<% categories.forEach(function(value){ %>
				  <option value="<%= value.id %>"><%= value.name %></option>
				<% }); %>
			</select>
		</div>
		<div class="form-group">
			<label for="agent">Agent</label>
			<select name="agent_id" class="form-control col-md-6">
				<option value="">Select Agent</option>
				<% agents.forEach(function(value){ %>
				  <option value="<%= value.id %>"><%= value.name %></option>
				<% }); %>
			</select>
		</div>
		<div class="form-group">
			<label for="company">company</label>
			<input type="text" name="company" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="how_to_apply">How to apply</label>
			<textarea name="how_to_apply" class="form-control col-md-6"></textarea>
		</div>
		 <button type="submit" class="btn btn-primary btn-sm">Add</button>
		 <a href="/jobs" class="btn btn-info btn-sm">Back</a>
	</form>
</div>