<div class="container">
	<%- include ../partials/flash_messages %>
	<form action="/resumes/update/<%- resume.id %>" method="post">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" value="<%= resume.title %>" name="title" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea name="description" class="form-control col-md-6"><%= resume.description %></textarea>
		</div>
		<div class="form-group">
			<label for="agent">Employer</label>
			<select name="user_id" class="form-control col-md-6">
				<option value="">Select Employer</option>
				<% agents.forEach(function(value){ %>
				  <option <%= (value.id == resume.user_id )?'selected':'' %> value="<%= value.id %>"><%= value.name %></option>
				<% }); %>
			</select>
		</div>
		<div class="form-group">
			<label for="description">How to contact</label>
			<textarea name="how_to_contact" class="form-control col-md-6"><%= resume.how_to_contact %></textarea>
		</div>
		<div class="form-group">
			<label for="category">Category</label>
			<select name="category_id" class="form-control col-md-6">
				<option value="">Select Category</option>
				<% categories.forEach(function(value){ %>
				  <option <%= (value.id == resume.category_id )?'selected':'' %> value="<%= value.id %>"><%= value.name %></option>
				<% }); %>
			</select>
		</div>
		 <button type="submit" class="btn btn-primary btn-sm">Update</button>
		 <a href="/resumes" class="btn btn-info btn-sm">Back</a>
	</form>
</div>