<div class="container">
	<%- include ../partials/flash_messages %>
	<div class="row">
		<p>
			<a href="resumes/create" class="btn btn-success btn-sm">
				<i class="fa fa-plus-square" aria-hidden="true"></i> Add  
			</a>
		</p>
	</div>  
	<div class="row">       
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Description</th>
					<th>Employer</th>
					<th>How to contact</th>
					<th>Category</th>
					<th style="width:200px;">Action</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i < data.length; i++) { %>
				<tr>
					<td><%= data[i].id %></td>
					<td><%= data[i].title %></td>
					<td><%= data[i].description %></td>
					<td><%= (data[i].User)?data[i].User.name:'' %></td>
					<td><%= data[i].how_to_contact %></td>
					<td><%= (data[i].Category)?data[i].Category.name:'' %></td>
					<td>
						
						<form action="/resumes/delete/<%= data[i].id %>" method="post">
							<a href="/resumes/edit/<%= data[i].id %>" class="btn btn-info btn-sm">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit 
						    </a>
							<button class="btn btn-danger btn-sm" onclick="return confirm('are you sure you want to delete?')">
							<i class="fa fa-minus" aria-hidden="true"></i> Delete 
						</button>
						</form>

						
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>