<div class="container">
	<%- include ../partials/flash_messages %>
	<form action="/jobseekers/update/<%- jobseeker.id %>" method="post">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" value="<%= jobseeker.name %>" name="name" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="title">Phone</label>
			<input type="text" name="phone" value="<%= jobseeker.phone %>" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="title">Email</label>
			<input type="email" name="email" value="<%= jobseeker.email %>" class="form-control col-md-6">
		</div>
		<div class="form-group">
			<label for="title">Password</label>
			<input type="password" name="password" value="<%= jobseeker.password %>" class="form-control col-md-6">
		</div>

		<div class="form-group">
			<label for="category">Status</label>
			<select name="status" class="form-control col-md-6">
				<option value="">Select Status</option>
				<option <%= (jobseeker.status=1)?'selected':'' %> value="1">Enable</option>
				<option <%= (jobseeker.status=0)?'selected':'' %> value="0">Disable</option>
			</select>
		</div>
		<input type="hidden" name="role" value='1'>
		 <button type="submit" class="btn btn-primary btn-sm">Update</button>
		 <a href="/jobseekers" class="btn btn-info btn-sm">Back</a>
	</form>
</div>