<div class="container">
	<%- include ../partials/flash_messages %>
	<div class="row">
		<p>
			<a href="jobseekers/create" class="btn btn-success btn-sm">
				<i class="fa fa-plus-square" aria-hidden="true"></i> Add  
			</a>
		</p>
	</div>
	<div class="row">       
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Email</th>
					<th style="width:200px;">Action</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i < data.length; i++) { %>
				<tr>
					<td><%= data[i].id %></td>
					<td><%= data[i].name %></td>
					<td><%= data[i].phone %></td>
					<td><%= data[i].email %></td>
					<td>
						
						<form action="/jobseekers/delete/<%= data[i].id %>" method="post">
							<a href="/jobseekers/edit/<%= data[i].id %>" class="btn btn-info btn-sm">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit 
						    </a>
							<button class="btn btn-danger btn-sm" onclick="return confirm('are you sure you want to delete?')">
							<i class="fa fa-minus" aria-hidden="true"></i> Delete 
						</button>
						</form>

						
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>